# Lab 05: Grouping

## #1
Reload the `planes` and `flights` DataFrames, from the last lab.

In [2]:
import pandas as pd

In [5]:
planes = pd.read_csv('data/planes.csv')

In [3]:
flights = pd.read_csv('data/flights.csv')

## #2
What is the average departure delay (`dep_delay`) of all flights in this data?

In [8]:
flights['dep_delay'].mean()

12.639070257304708

## #3
What is the average departure delay by carrier, for flights in this data?

In [9]:
flights.groupby('carrier').agg({'dep_delay' : ['mean']})

         dep_delay
              mean
carrier
9E       16.725769
AA        8.586016
AS        5.804775
B6       13.022522
DL        9.264505
EV       19.955390
F9       20.215543
FL       18.726075
HA        4.900585
MQ       10.552041
OO       12.586207
UA       12.106073
US        3.782418
VX       12.869421
WN       17.711744
YV       18.996330

## #4
If you followed the groupby-agg workflow we covered in lecture, you passed your summary function within a list.

Try removing the brackets and rerunning #3.
What's different about the result?
Why do you think we focused on the list-based approach in class?

In [18]:
flights.groupby('carrier').agg({'dep_delay' : 'mean'})

         dep_delay
carrier
9E       16.725769
AA        8.586016
AS        5.804775
B6       13.022522
DL        9.264505
EV       19.955390
F9       20.215543
FL       18.726075
HA        4.900585
MQ       10.552041
OO       12.586207
UA       12.106073
US        3.782418
VX       12.869421
WN       17.711744
YV       18.996330

It doesn't display the aggregation type performed on dep_delay. Also, we cannot pass multiple agg functions here.To show the results in an user friendly way, we must pass summary function in a list.

## #5

Working from your code for #3, calculate the minimum, mean, median, and maximum departure delay for each carrier.
Don't do this in 4 separate lines -- you can achieve this result using a single invocation of `groupby` and a single invocation of `agg`.

In [24]:
flights.groupby('carrier').agg({'dep_delay' : ['min', 'mean', 'median', 'max']})

        dep_delay
              min       mean median     max
carrier
9E          -24.0  16.725769   -2.0   747.0
AA          -24.0   8.586016   -3.0  1014.0
AS          -21.0   5.804775   -3.0   225.0
B6          -43.0  13.022522   -1.0   502.0
DL          -33.0   9.264505   -2.0   960.0
EV          -32.0  19.955390   -1.0   548.0
F9          -27.0  20.215543    0.5   853.0
FL          -22.0  18.726075    1.0   602.0
HA          -16.0   4.900585   -4.0  1301.0
MQ          -26.0  10.552041   -3.0  1137.0
OO          -14.0  12.586207   -6.0   154.0
UA          -20.0  12.106073    0.0   483.0
US          -19.0   3.782418   -4.0   500.0
VX          -20.0  12.869421    0.0   653.0
WN          -13.0  17.711744    1.0   471.0
YV          -16.0  18.996330   -2.0   387.0

## #6

Perhaps, after doing some research, you discover that the most meaningful statistic for departure delay is the *average delay*, but the most meaningful way to measure air time is the *median air time*.
Build a groupby-agg invocation that summarizes – at the carrier level – the average departure delay and the median air time.

In [25]:
flights.groupby('carrier').agg({'dep_delay' : ['mean'], 'air_time' : ['median']})

         dep_delay air_time
              mean   median
carrier
9E       16.725769     83.0
AA        8.586016    169.0
AS        5.804775    324.0
B6       13.022522    142.0
DL        9.264505    145.0
EV       19.955390     87.0
F9       20.215543    229.0
FL       18.726075    109.0
HA        4.900585    621.5
MQ       10.552041     83.0
OO       12.586207     68.0
UA       12.106073    197.0
US        3.782418     76.0
VX       12.869421    337.0
WN       17.711744    122.0
YV       18.996330     56.5

## #7
What is the single most common route in this data?
That is to say, what combination of values for `origin` and `destination` occurs most frequently? *Hint: to order the data yourself, you may want to experiment with the `sort_values` method of Pandas Series.*

In [4]:
flights.groupby(['origin', 'dest']).size().sort_values(ascending=False).head(5)

origin  dest
JFK     LAX     11262
LGA     ATL     10263
        ORD      8857
JFK     SFO      8204
LGA     CLT      6168
dtype: int64

JFK-LAX is the most common route for flights.

## Challenge question

Same as #7, but by carrier: what route is most common for each carrier? You will need to use approaches beyond what we've seen in class, but you should be able to find code that gets you most of the way there just by googling.

In [8]:
flights_2 = flights[['origin', 'dest', 'carrier']]
flights_2['count'] = 1

C:\Users\sthal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
flights_2.groupby(by = ['carrier', 'origin', 'dest'], axis = 0, as_index = False).sum().groupby(['carrier'], sort = False).head(1)

    carrier origin dest  count
0        9E    EWR  ATL      4
77       AA    EWR  DFW   2054
102      AS    EWR  SEA    714
103      B6    EWR  BOS   1826
158      DL    EWR  ATL   3153
213      EV    EWR  ALB    439
315      F9    LGA  DEN    685
316      FL    LGA  ATL   2337
319      HA    JFK  HNL    342
320      MQ    EWR  ORD   2276
344      OO    EWR  DTW      2
349      UA    EWR  ANC      8
402      US    EWR  CLT   3232
412      VX    EWR  LAX    783
419      WN    EWR  AUS    298
436      YV    LGA  CLT    282